<IfModule mod_rewrite.c>
  Options -Multiviews
	  RewriteEngine On
	  RewriteBase /php/MVC/public (change the location to your rewrite base) 
	  RewriteCond %{REQUEST_FILENAME} !-d
	  RewriteCond %{REQUEST_FILENAME} !-f
	  RewriteRule  ^(.+)$ index.php?url=$1 [QSA,L]
</IfModule>